$line-height-cards: 1.5;

.featured-products {
    padding: $container-default-padding;

    .title {
        margin-bottom: 80px;
    }

    .upper {
        font-size: 48px;
        line-height: 1.2;
        margin-bottom: 16px;
    }

    .lower {
        line-height: 1.5;
        font-size: 18px;
    }

    .title .btn {
        padding: 12px 24px;
        line-height: 1.5;
        border-radius: 5px;
    }

    .products-cards {
        gap: 32px;
    }

    .col {
        gap: 16px;
        max-width: 304px;
    }

    .product-name {
        line-height: $line-height-cards;
        font-size: 18px;
    }

    .product-description {
        line-height: $line-height-cards;
        font-size: 14px;
    }

    .price {
        line-height: $line-height-cards;
        font-size: 20px;
    }

    .products-cards .btn {
        line-height: $line-height-cards;
        font-size: 16px;
        padding: 8px 20px;
        border-radius: 5px;
    }
}