.greeting {
    padding: $container-default-padding;
    
    .container-fluid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 80px;
        margin-bottom: 80px;
    }

    .title-greeting-text {
        font-size: 56px;
        line-height: 1.2;
    }
    
    .greeting-text-interactive {
        font-size: 18px;
        line-height: 1.5;
    }

    .greeting-actions {
        gap: 16px;
        font-size: 16px;
        line-height: 1.5;
    }

    .btn {
        border-radius: 5px;
        padding: 12px 24px;
        line-height: 1.5;
    }
}


