.greeting {
    min-height: 1205px;
    padding: $container-default-padding;

    .row {
        gap: 80px;
        margin: 0 0 80px 0;
    }

    .title-greeting-text {
        font-size: 56px;
        line-height: 1.2;
        max-width: 616px;
        min-height: 201px;
    }
    
    .greeting-text-interactive {
        max-width: 616px;
        min-height: 196px;
        font-size: 18px;
        line-height: 1.5;
    }

    .greeting-actions {
        gap: 16px;
        font-size: 16px;
        line-height: 1.5;
    }

    .btn {
        border-radius: 5px;
        padding: 12px 24px;
        line-height: 1.5;
    }
}


