header {
    padding: 0px 64px;

    .navbar {
        padding: 7px 0;
    }

    .navbar-nav {
        gap: 32px
    }
    
    .search-button {
        padding: 8px 20px;
        font-size: 16px;
        line-height: 1.5;
        gap: 12px;
    }

    .navbar-search-icon {
        display: none;
    }

    .navbar-toggler-icon {
        display: none;
    }
}

