.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

* {
  font-family: "Roboto", sans-serif;
}

.content {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  padding: 0;
}

.container-fluid {
  padding: 0;
}

p {
  margin-bottom: 0;
}

header {
  height: 72px;
  padding: 0px 64px;
}
header .navbar-nav {
  gap: 32px;
}
header .logo_image {
  width: 130.6px;
  height: 41px;
}
header .search_icon {
  width: 24px;
  height: 24px;
}
header .search-button {
  padding: 8px 20px;
  width: 126px;
  height: 40px;
  font-size: 16px;
  line-height: 1.5;
}
header .cart_icon {
  width: 28px;
  height: 24px;
}

.greeting {
  min-height: 1205px;
  padding: 112px 64px;
}
.greeting .row {
  gap: 80px;
  margin: 0 0 80px 0;
}
.greeting .title-greeting-text {
  font-size: 56px;
  line-height: 1.2;
  max-width: 616px;
  min-height: 201px;
}
.greeting .greeting-text-interactive {
  max-width: 616px;
  min-height: 196px;
  font-size: 18px;
  line-height: 1.5;
}
.greeting .greeting-actions {
  gap: 16px;
  font-size: 16px;
  line-height: 1.5;
}
.greeting .btn {
  border-radius: 5px;
  padding: 12px 24px;
  line-height: 1.5;
}

.featured-products {
  padding: 112px 64px;
  min-height: 829px;
}
.featured-products .title {
  min-height: 101px;
  margin-bottom: 80px;
}
.featured-products .upper {
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 16px;
}
.featured-products .title .btn {
  padding: 12px 24px;
  line-height: 1.5;
  border-radius: 5px;
}
.featured-products .products-cards {
  min-height: 424px;
  gap: 32px;
}
.featured-products .col {
  gap: 16px;
  max-width: 304px;
}
.featured-products .product-name {
  line-height: 1.5;
  font-size: 18px;
}
.featured-products .product-description {
  line-height: 1.5;
  font-size: 14px;
}
.featured-products .price {
  line-height: 1.5;
  font-size: 20px;
}
.featured-products .products-cards .btn {
  line-height: 1.5;
  font-size: 16px;
  padding: 8px 20px;
  border-radius: 5px;
}

.sales {
  padding: 0 64px 112px;
  min-height: 424px;
  background-color: black;
}
.sales .container-fluid {
  padding-right: 100px;
}
.sales .interactive-description {
  padding: 11px 4px;
  gap: 16px;
}
.sales p {
  color: white;
}
.sales .tagline {
  line-height: 1.5;
}
.sales .sales-up {
  font-size: 48px;
  line-height: 1.2;
}
.sales .buttons {
  gap: 16px;
  padding-top: 16px;
  line-height: 1.5;
}
.sales .buttons .btn {
  padding: 12px 24px;
}
.sales .buttons a {
  gap: 8px;
}/*# sourceMappingURL=main.css.map */