$container-default-padding: 112px 64px;

@import "fonts";

* {
    font-family: "Roboto", sans-serif;
}

.content {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    padding: 0;
}

.container-fluid {
    padding: 0;
}

p {
    margin-bottom: 0;
}

@import "header";
@import "greeting";
@import "featured-products";
@import "sales";
@import "contact-us";
@import "links";
