.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 25.07px;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

* {
  font-family: "Roboto", sans-serif;
}

.content {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  padding: 0;
}

.container-fluid {
  padding: 0;
}

p {
  margin-bottom: 0;
}

header {
  height: 72px;
  padding: 0px 64px;
}
header .navbar-nav {
  gap: 32px;
}
header .logo_image {
  width: 130.6px;
  height: 41px;
}
header .search_icon {
  width: 24px;
  height: 24px;
}
header .search-button {
  padding: 8px 20px;
  width: 126px;
  height: 40px;
  font-size: 16px;
  line-height: 1.5;
}
header .cart_icon {
  width: 28px;
  height: 24px;
}

.greeting {
  min-height: 1205px;
  padding: 112px 64px;
}
.greeting .row {
  gap: 80px;
  margin: 0 0 80px 0;
}
.greeting .title-greeting-text {
  font-size: 56px;
  line-height: 1.2;
  max-width: 616px;
  min-height: 201px;
}
.greeting .greeting-text-interactive {
  max-width: 616px;
  min-height: 196px;
  font-size: 18px;
  line-height: 1.5;
}
.greeting .greeting-actions {
  gap: 16px;
  font-size: 16px;
  line-height: 1.5;
}
.greeting .btn {
  border-radius: 5px;
  padding: 12px 24px;
  line-height: 1.5;
}

.featured-products {
  padding: 112px 64px;
  min-height: 829px;
}
.featured-products .title {
  min-height: 101px;
  margin-bottom: 80px;
}
.featured-products .upper {
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 16px;
}
.featured-products .title .btn {
  padding: 12px 24px;
  line-height: 1.5;
  border-radius: 5px;
}
.featured-products .products-cards {
  min-height: 424px;
  gap: 32px;
}
.featured-products .col {
  gap: 16px;
  max-width: 304px;
}
.featured-products .product-name {
  line-height: 1.5;
  font-size: 18px;
}
.featured-products .product-description {
  line-height: 1.5;
  font-size: 14px;
}
.featured-products .price {
  line-height: 1.5;
  font-size: 20px;
}
.featured-products .products-cards .btn {
  line-height: 1.5;
  font-size: 16px;
  padding: 8px 20px;
  border-radius: 5px;
}

.sales {
  padding: 0 64px 112px;
  min-height: 424px;
  background-color: black;
}
.sales .container-fluid {
  padding-right: 100px;
}
.sales .interactive-description {
  padding: 11px 4px;
  gap: 16px;
}
.sales p {
  color: white;
}
.sales .tagline {
  line-height: 1.5;
}
.sales .sales-up {
  font-size: 48px;
  line-height: 1.2;
}
.sales .buttons {
  gap: 16px;
  padding-top: 16px;
  line-height: 1.5;
}
.sales .buttons .btn {
  padding: 12px 24px;
}
.sales .buttons a {
  gap: 8px;
}

.contact-us {
  padding: 112px 64px;
}
.contact-us .container-fluid#generalContactUsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
}
.contact-us .contacts-description {
  gap: 32px;
}
.contact-us p#tagline {
  line-height: 1.5;
  margin-bottom: 16px;
}
.contact-us p#contactUs {
  line-height: 1.2;
  font-size: 48px;
  margin-bottom: 24px;
}
.contact-us p#lorem {
  line-height: 1.5;
  font-size: 18px;
}
.contact-us .contacts-section {
  padding: 8px 0;
  gap: 16px;
}
.contact-us .contact-row {
  gap: 16px;
  line-height: 1.5;
}
.contact-us form {
  gap: 24px;
}
.contact-us .form-control {
  border-color: black;
}
.contact-us .form-check-input {
  border-radius: 0;
  border-color: black;
  width: 18px;
  height: 18px;
}
.contact-us input.form-control {
  padding: 12px 12px;
}
.contact-us textarea#inputMessage {
  padding: 12px 12px;
}
.contact-us .btn {
  padding: 12px 24px;
  line-height: 1.5;
}

.links {
  padding: 80px 64px;
  line-height: 1.5;
}
.links .d-flex#generalContainer {
  gap: 128px;
}
.links .links-category {
  max-width: 684px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.links .links-column {
  gap: 16px;
}
.links .links-column li {
  padding: 8px 0;
  font-size: 14px;
}
.links .subscribe {
  max-width: 500px;
  gap: 24px;
}
.links .subscribe-title {
  gap: 16px;
}
.links form {
  gap: 16px;
}
.links form .form-control {
  border-color: black;
  padding: 12px 12px;
}
.links span#formInputContainer {
  gap: 16px;
}
.links #privacyPolicyConsent {
  font-size: 12px;
  color: black;
}/*# sourceMappingURL=main.css.map */