$container-default-padding: 112px 64px;
$container-mobile-padding: 48px 24px;

@import "fonts";

* {
    font-family: "Roboto", sans-serif;
}

.content {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    padding: 0;
}

.container-fluid {
    padding: 0;
}

p {
    margin-bottom: 0;
}

@import "header";
@import "greeting";
@import "featured-products";
@import "sales";
@import "contact-us";
@import "links";

@media (max-width: 960px) {
    @import "header_media";
    @import "greeting_media";
    @import "featured-products_media";
    @import "sales_media";
    @import "contact-us_media";
    @import "links_media";
}
